.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: calc(100vh - 200px);
    align-items: center;

  }

  .card-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .list-start {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }

  .message-list {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    padding: 16px;
    margin-bottom: 16px;
  }
/*   
  .message-item {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 100%;
    animation: fadeIn 0.5s ease-out;
  }
  
  .user-message {
    background-color: #0984ff;
    color: white;
    text-align: right;
  }
  
  .server-message {
    background-color: #f50057; 
    color: white;
  } */
  .message-item .user-message {
    background-color: #0984ff !important;
    color: white !important;
    padding: 10px;
    margin-right: auto;

    border-radius: 10px;
}

.message-item .server-message {
    background-color: #f50057 !important;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;

}
.chat-input-container {
  margin-top: auto; /* Assuming you want it to span the full width */
}
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  